</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="application/javascript">
    //            $.get('/todos', function(data){
    //                debugger
    //            });
    //
    //            $('form').submit(function(e){
    //                e.preventDefault();
    //                var formData = $(this).serialize();
    //                $.post('/todos', formData, function(data){
    //                    console.log(data);
    //				})
    //			})
    //            $('form').submit(function(e){
    //                e.preventDefault();
    //                var formData = $(this).serialize();
    //                var formAction = $(this).attr('action');
    //                $.ajax({
    //					url: formAction,
    //					data: formData,
    //					type: 'PUT',
    //					success: function(data){
    //					    debugger
    //					}
    //				})
    //            })
    //            $('form').submit(function(e){
    //                e.preventDefault();
    //                var formAction = $(this).attr('action');
    //                $.ajax({
    //                    url: formAction,
    //                    type: 'DELETE',
    //                    success: function(data){
    //                        debugger
    //                    }
    //                })
    //            })
    $('#new-todo-form').submit(function (e) {
        e.preventDefault();
        var formData = $(this).serialize();
        $.post('/todos', formData, function (data) {
            $('#todo-list').append(
                `
                <li class="list-group-item">
                    <form action="/todos/${data._id}" method="POST" class="edit-todo-form">
						<div class="form-group">
							<label for="${data._id}">Item Text</label>
							<input type="text" value="${data.text}" name="todo[text]" class="form-control" id="${data._id}">
						</div>
						<button class="btn btn-primary">Update Item</button>
					</form>
                    <span class="lead">
                        ${data.text}
                    </span>
                    <div class="pull-right">
					<button class="btn btn-sm btn-warning edit-button">Edit</button>
                    <form style="display: inline" method="POST" action="/todos/${data._id}" class="delete-todo-form">
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    </div>
                    <div class="clearfix"></div>
                </li>
                `
            );
            $('#new-todo-form').find('.form-control').val('');
        });
    });

    $('#todo-list').on('click', '.edit-button', function () {
        $(this).parent().siblings('.edit-todo-form').toggle();
    });

    $('#todo-list').on('submit', '.edit-todo-form', function (e) {
        e.preventDefault();
        var formData = $(this).serialize();
        var actionUrl = $(this).attr('action');
        $originalItem = $(this).parent('.list-group-item');
        $.ajax({
            url: actionUrl,
            data: formData,
            type: 'PUT',
            originalItem: $originalItem,
            success: function (data) {
                this.originalItem.html(
                    `
                    <form action="/todos/${data._id}" method="POST" class="edit-todo-form">
						<div class="form-group">
							<label for="${data._id}">Item Text</label>
							<input type="text" value="${data.text}" name="todo[text]" class="form-control" id="${data._id}">
						</div>
						<button class="btn btn-primary">Update Item</button>
					</form>
					<span class="lead">
						${data.text}
					</span>
					<div class="pull-right">
						<button class="btn btn-sm btn-warning edit-button">Edit</button>
						<form style="display: inline" method="POST" action="/todos/${data._id}" class="delete-todo-form">
							<button type="submit" class="btn btn-sm btn-danger">Delete</button>
						</form>
					</div>
					<div class="clearfix"></div>
                    `
                )
            }
        })
    });

    $('#todo-list').on('submit', '.delete-todo-form', function (e) {
            e.preventDefault();
            var confirmResponse = confirm('Are you sure ?');
            if (confirmResponse) {
                var actionUrl = $(this).attr('action');
                $originalItem = $(this).closest('.list-group-item');
                $.ajax({
                    url: actionUrl,
                    type: 'DELETE',
                    itemToDelete: $originalItem,
                    success: function (data) {
                        this.itemToDelete.remove();
                    }
                })
            } else {
                $(this).find('button').blur();
            }
        });

    $('#search').on('input', function(e) {
        e.preventDefault();
        $.get(`/todos?keyword=${encodeURIComponent(e.target.value)}`, function(data) {
            $('#todo-list').html('');
            data.forEach(function(todo){
                $('#todo-list').append(
                    `
				<li class="list-group-item">
					<form action="/todos/${todo._id}" method="POST" class="edit-todo-form">
						<div class="form-group">
							<label for="${todo._id}">Item Text</label>
							<input type="text" value="${todo.text}" name="todo[text]" class="form-control" id="${todo._id}">
						</div>
						<button class="btn btn-primary">Update Item</button>
					</form>
					<span class="lead">
						${todo.text}
					</span>
					<div class="pull-right">
						<button class="btn btn-sm btn-warning edit-button">Edit</button>
						<form style="display: inline" method="POST" action="/todos/${todo._id}" class="delete-todo-form">
							<button type="submit" class="btn btn-sm btn-danger">Delete</button>
						</form>
					</div>
					<div class="clearfix"></div>
				</li>
				`
                );
            });
        });
    });

</script>
</body>
</html>