		</div>
		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="application/javascript">
//            $.get('/todos', function(data){
//                debugger
//            });
//
//            $('form').submit(function(e){
//                e.preventDefault();
//                var formData = $(this).serialize();
//                $.post('/todos', formData, function(data){
//                    console.log(data);
//				})
//			})
//            $('form').submit(function(e){
//                e.preventDefault();
//                var formData = $(this).serialize();
//                var formAction = $(this).attr('action');
//                $.ajax({
//					url: formAction,
//					data: formData,
//					type: 'PUT',
//					success: function(data){
//					    debugger
//					}
//				})
//            })
            $('form').submit(function(e){
                e.preventDefault();
                var formAction = $(this).attr('action');
                $.ajax({
                    url: formAction,
                    type: 'DELETE',
                    success: function(data){
                        debugger
                    }
                })
            })
		</script>
    </body>
</html>